*{
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(161, 156, 156);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 500px;
}

.Aulas{
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  padding: 2em;
}

